:root {
    --primary:#003049;
    --secondary:#c1121f;
    --light:#fdf0d5;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary);
}

a {
    color: var(--primary);
}

button{
    background-color: var(--primary);
    color: var(--light);
}

input{
    border: 2px solid var(--primary);
}